@import "partials/base";
@import "modules/login";
@import "modules/menus";
@import "modules/albums";


body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

body > div.ember-view:first-of-type {
  width: 100%;
  height: 100%;
}

.header-logo {
  background: none;
}

.site-nav-container {
  width: 100%;
  height: 100%;
}

.error {
  color: color($warn);
  margin: 1rem 0;
}

.app-content {
  margin: 16px;
  max-width: $content-width;
}

md-toolbar.site-content-toolbar {
  background: color($primary, "700");
}
.app-navigation {
  background: color($primary, "500");
  color: color($primary, "contrast");
  .md-toolbar-tools {
    max-width: $content-width;
  }
  .md-button .md-list-item-inner {
    font-size: 16px;
  }
  md-icon.md-default-theme {
    color: color($accent, "500");
  }
  h2 {
    text-align: center;
    color: color($accent, "400");
  }
}

.meta-mail {
  ul {
    padding: 0;
    list-style: none;
    margin: 0;
  }
}

.content-list {
  min-width: 406px;
  .date {
    float: right;
    color: #6B6B6B;
    font-size: 14px;
  }
  md-list-item > button > span {
    display: block;
    width: 100%;
  }
}
.app-main {
//  md-toolbar.page-toolbar {
//    background: color($side, '100');
//    color: color($side, '600');;
//  }
  p {
    line-height: 1.2;
  }
  .selectize-control {
    margin: 1rem 0;
  }
  .selectize-control.multi .selectize-input [data-value] {
    background: #fff;
    border-color: color($accent, '500');
    box-shadow: none;
    color: color($accent, '700');
    padding: 8px 6px;
    text-shadow: none;
    .remove {
      border-color: transparent;
      padding: 8px 4px 8px 0;
      color: color($accent, '300');
      &:hover {
        background: none;
        color: color($accent, '500');
      }
    }
  }
  .selectize-control.multi .selectize-input {
    padding: 10px 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
  }
  .textarea-description {
    min-height: 150px;
  }
}

.date-card { 
  display: block;
  margin: 1rem 1rem 1rem 0;
  width: 100px;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 1.0;

  span, strong {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .day {
    color: color($primary, '500');
  }
  strong {
    font-size: 32px;
    color: color($primary, '500');
    padding: 5px 0;
  }
}
.file-card {
  .download-link {
    background: color($accent, '500');
    color: color($accent, 'contrast');
    padding: 1rem;
    text-decoration: none;
  }
  .delete-button {
    float: right;
  }
  .upload-other {
    float: left;
  }
  &.upload-form {
    padding: 1rem;
    border: 1px solid color($accent, '500');
    h3 {
       color: color($accent, '500');
      margin: 0;
    }
  }
}
.pages-nav {
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
h1 {
  font-size: 1.600rem;
  font-weight: 400;
  line-height: 4rem;
}
h2 {
  font-size: 1.400rem;
  font-weight: 400;
  line-height: 3.2rem;
}
h3 {
  font-size: 1.200rem;
  font-weight: 500;
  letter-spacing: 0.005em;
}
h4 {
  font-size: 1.000rem;
  font-weight: 400;
  letter-spacing: 0.010em;
}
p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}
strong {
  font-weight: 500;
}

table {
  margin-bottom: 8px;
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-radius: 2px;
  overflow: hidden;
}
td, th {
  padding: 12px 16px;
  text-align: left;
}
th {
  background: color($primary, '400');
  color: #fff;
}
tr:nth-child(odd) td {
  background: color($side, '50');
}
tr:nth-child(even) td {
  background: color($side, '100');
}

md-list-item {
  h4 {
    margin-top: 0;
    line-height: 1;
  }
}
.switch-moms {
  margin-top: 2rem;
}