<div id="paper-wormhole"></div>
{{#paper-toolbar class="site-content-toolbar"}}
      <div class="md-toolbar-tools">
        {{#paper-sidenav class="md-sidenav-left header-logo" locked-open="gt-sm"}}
            <div class="logo">
              {{#link-to 'index'}}
                 <strong>Security Policies</strong>
              {{/link-to}}
            </div>
        {{/paper-sidenav}}
        {{#paper-button action=(action 'transitionTo' 'mails')}}
            {{paper-icon icon="email"}} Emails
        {{/paper-button}}
        {{#paper-button action=(action 'transitionTo' 'recipients')}}
            {{paper-icon icon="contacts"}} Recipients
        {{/paper-button}}
      </div>
           
{{/paper-toolbar}}
    
{{#paper-nav-container class="ember-app site-nav-container"}}
    
    {{outlet}}
  
{{/paper-nav-container}}